@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>House Rental soultion a private limited company.</p>
<p> services: Computer Maintenance, House Dealer and related things...</p>
