@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   House Rental System Solution P.L.C<br />
    Addis Abeba, Bole<br />
    Denbel Building, 4th Floor<br/>
    <abbr title="Phone">P:</abbr>
    0115-555555/0115-656565
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">HouseRent@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">HRPMarketing@Yahoo.com</a>
</address>