@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>House Rental System</h1>
    <p class="lead">Rent any type of house online.</p>
    @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lexury Houses</h2>
        <p>
            Select lexury house for rent
        </p>
        <img src="~/img/1.jpg" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lexury Condos</h2>
        <p>select lexury Condos for rent..</p>
        <img src="~/img/photo_2021-02-09_17-16-12.jpg" height="300" width="300" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Normal House</h2>
        <p>Select houses for rent.</p>
        <img src="~/img/page1_img01.jpg" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>